<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Document Server</title>
</head>
<body>
    <html>Welcome to Open Document server for Onlyoffice Docs API !</html>
</body>
</html>