{{#> layout }}
{{> header }}

<div
    style="width: 99vw; height: 100vh; background: transparent; display: flex; flex-direction: column; justify-content: center; align-item: center;">
    <h1 style="font-size: 8.0em; color: black; text-align: center">404</h1>
    <h2 style="font-size: 4.5em; color: black; text-align: center; font-weight: normal;">Cette page n'existe pas</h2>
</div>

{{> footer}}
{{/layout}}