<header>
    <link rel="stylesheet" href="/static/styles/header.css">
    <div class="header-content">
        <h1><img src="/static/assets/drapeau.png" alt=""> Localisation du RAG</h1>
        <nav>
            <a href="/home/config">Configuration</a>
        </nav>
    </div>
</header>